html, body
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;

table
    border-collapse: collapse;

.game
    float: left;
    text-indent: 0;


.properties
    margin: 10px;
    position: fixed;
    right: 0;

    //@media (max-width: 1000px)
        //&
            //float: left;

    table
        background: white;
        color: black;
        width: 200px;

        td
            padding: 20px;
            border: 1px solid black;

            &:first-child
                width: 150px;

<<<<<<< HEAD:css/game.css

canvas
<<<<<<< HEAD:css/game.css
{
    width: 512px;
    height: 480px;
}
=======
    width: 500px;
    height: 500px;
>>>>>>> 7a09b30... +camera +web-comps:src/styl/game.styl
=======
>>>>>>> fc66d11... updates:src/styl/game.styl
