<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/setting-checkbox/setting-checkbox.html" />
<polymer-element name="game-console" attributes="data">
    <template>
        <link rel="stylesheet" href="game-console.css" />
        <table id="table">
            <tr>
                <td>Сетка</td>
                <td>
                    <setting-checkbox id="gridCheckbox" name="grid"></setting-checkbox>
            </tr>
            <tr>
                <td>На весь экран</td>
                <td>
                    <setting-checkbox id="fullsizeCheckbox" name="fullsize"></setting-checkbox>
                </td>
            </tr>
            <template repeat="{{data}}">
                <tr>
                    <td>{{name}}</td>
                    <td>{{value}}</td>
                </tr>
            </template>
        </table>
    </template>
    <script src="game-console.js"></script>
</polymer-element>
